html {
    background-color: rgb(17, 26, 53);
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

body {
    padding: 0;
    margin: 0;
    color: rgb(240, 242, 247);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.container {
    /* width: 100%; */
	max-width: 480px;
	margin: 0 auto;
	/* overflow: hidden; */
    padding: 0 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    margin-bottom: 3rem;
}

#home {
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(240, 242, 247);
    text-decoration: none;
}

#filter {
    margin: 0;
    cursor: pointer;
}

#dropdown {
    background-color: rgb(240, 242, 247, 0.9);
    color: rgb(17, 26, 53);
    border-radius: 15px;
    padding: 1rem;
    position: absolute;
    top: 3rem;
}

#recent {
    cursor: pointer;
    opacity: 1;
}

#rating {
    cursor: pointer;
    opacity: 0.5;
}

#aToZ {
    cursor: pointer;
    opacity: 0.5;
}

.filter-wrapper {
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
    margin-bottom: 10rem;
}

.item-img {
    border-radius: 20px;
    width: 100%;
}

.item-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.item-star {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
}

.item-storyline {
    font-size: 0.875rem;
    font-weight: 200;
    opacity: 0.7;
}

.info {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
}

.info-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;

}

.info-name {
    font-size: 2.5rem;
}

.info-storyline {
    margin-top: 3rem;
    font-weight: lighter;
}

.info-details {
    font-size: 1.25rem;
}

.info-star {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.cast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 5rem;
}

.actor-img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.actor-name {
    font-size: 1.25rem;
}

.actor-character {
    font-weight: lighter;
}

.text-input {
    box-sizing: border-box;
    width: 100%;
    background-color:transparent;
    border: 2px solid rgba(240, 242, 247, 0.52);
    border-radius: 20px;
    outline: none;
    padding: 1rem;
    color: rgb(240, 242, 247);
    font-size: 1.25rem;
}

.btn {
    display: block;
    font-size: 1.5rem;
    margin-top: 4rem;
    width: 15rem;
    height: 3.5rem;
    border-radius: 50px;
    border: none;
    background-color: #9cdfe3;
    color: rgb(17, 26, 53);
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    /* opacity: 0.5; */
}

.reviews {
    margin-top: 6rem;
}

.reviews .info-name {
    margin-bottom: 5rem;
}

/* .slider {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.slider p {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 2rem;
}

.slider input[type="range"] {
    width: 50%;
    appearance: none;
    height: 3px;
} */

/* .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background: #9cdfe3;
    border-radius: 50%;
    cursor: pointer;
} */

/* .slider input[type="range"]::-webkit-slider-runnable-track {
    accent-color: rgb(102, 196, 237);
} */

#reviews-list {
    margin-bottom: 10rem;
}

.review-item {
    background-color: rgba(240, 242, 247, 0.52);
    border-radius: 25px;
    padding: 2rem 2rem 1rem;
    margin-bottom: 2rem;
    color: rgb(17, 26, 53);
    font-size: 1.25rem;
} 

.review-time {
    font-size: 1rem;
    text-align: end;
    opacity: 0.7;
}

/*Star*/

fieldset, label { 
    margin: 0; 
    padding: 0; 
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 0 5px;
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
    
  /* display: inline-block; */
  content: "\f005";
}

.rating { 
   
    margin-bottom: 3rem;
    border: none;
    /* float: left; */
  }

.rating > .half:before { 
    /* margin-top: 0px; */

    position: absolute;
}

.rating > label { 
    /* color: #ddd;  */
    float: right; 
}

.rating > input:checked ~ label.half:before,
.rating:not(:checked) > label:hover.half:before,
.rating:not(:checked) > label:hover ~ label.half:before { 
    content: "\f089";
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { font-weight: 900; } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: rgb(180, 184, 194); }

input, label {
  cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (min-width: 600px) {

    .cast {
        grid-template-columns: repeat(4, 1fr);
    }

    .info {
        flex-direction: row;
        gap: 5%;
    }

    .info-img {
        min-width: 40%;
        max-width: 40%;
        height: auto;
        
    }

    .movie-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {

    .cast {
        grid-template-columns: repeat(5, 1fr);
    }

    .info {
        gap: 10%;
    }

    .movie-list {
        column-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

	.container {max-width: 768px;}

}

@media screen and (min-width: 1025px) {

    .cast {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 4rem;
    }

    .info-storyline {
        margin-top: 5rem;
        font-size: 1.25rem;
    }
	.container {max-width: 1025px;}

}

